html,
body {
	height: 100%;
	font-family: "Nunito Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Nunito Sans", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	font-family: "Nunito Sans", sans-serif;
	color: #3d3d3d;
	font-weight: 400;
	line-height: 25px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}
a:hover {
	text-decoration: none;
	outline: none;
}
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 45px;
	text-align: center;
}

.section-title span {
	color: #e53637;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 15px;
	display: block;
}

.section-title h2 {
	color: #111111;
	font-weight: 700;
	line-height: 46px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 14px 30px;
	color: #ffffff;
	background: #000000;
	letter-spacing: 4px;
}

.site-btn {
	font-size: 14px;
	color: #ffffff;
	background: #111111;
	font-weight: 700;
	border: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 14px 30px;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

.spacial-controls {
	position: fixed;
	width: 111px;
	height: 91px;
	top: 0;
	right: 0;
	z-index: 999;
}

.spacial-controls .search-switch {
	display: block;
	height: 100%;
	padding-top: 30px;
	background: #323232;
	text-align: center;
	cursor: pointer;
}

.search-model {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	z-index: 99999;
}

.search-model-form {
	padding: 0 15px;
}

.search-model-form input {
	width: 500px;
	font-size: 40px;
	border: none;
	border-bottom: 2px solid #333;
	background: 0 0;
	color: #999;
}

.search-close-switch {
	position: absolute;
	width: 50px;
	height: 50px;
	background: #333;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-size: 28px;
	line-height: 28px;
	top: 30px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/*---------------------
  Breadcrumb
-----------------------*/

.breadcrumb-option {
	background: #f3f2ee;
	padding: 40px 0;
}

.breadcrumb__text h4 {
	color: #111111;
	font-weight: 700;
	margin-bottom: 8px;
}

.breadcrumb__links a {
	font-size: 15px;
	color: #111111;
	margin-right: 18px;
	display: inline-block;
	position: relative;
}

.breadcrumb__links a:after {
	position: absolute;
	right: -14px;
	top: 0;
	content: "\f105";
	font-family: "FontAwesome";
}

.breadcrumb__links span {
	font-size: 15px;
	color: #b7b7b7;
	display: inline-block;
}

.disabled {
	opacity: .5;
	cursor: not-allowed;
	pointer-events: none;
}

.dots {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.categories__text h2 {
		font-size: 26px;
	}
	.header__menu ul li {
		margin-right: 38px;
	}
	.hero__slider.owl-carousel .owl-nav button {
		left: 2px;
	}
	.hero__slider.owl-carousel .owl-nav button.owl-next {
		right: 2px;
	}
	.testimonial__text {
		padding: 130px 45px 175px;
	}
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header__menu ul li {
		margin-right: 10px;
	}
	.header__nav__option a {
		margin-right: 10px;
	}
	.header__nav__option .price {
		margin-left: 0;
	}
	.hero__slider.owl-carousel .owl-nav button {
		left: 2px;
	}
	.hero__slider.owl-carousel .owl-nav button.owl-next {
		right: 2px;
	}
	.banner__item.banner__item--middle {
		margin-top: 0;
	}
	.banner__item.banner__item--last {
		margin-top: 0;
	}
	.banner__item {
		margin-bottom: 40px;
	}
	.banner {
		padding-bottom: 60px;
	}
	.categories__text {
		margin-bottom: 40px;
	}
	.categories__hot__deal {
		margin-bottom: 40px;
	}
	.shop__sidebar {
		padding-right: 0;
		padding-top: 40px;
	}
	.cart__discount {
		margin-top: 40px;
	}
	.testimonial__text {
		padding: 100px 105px 100px;
	}
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
	.canvas__open {
		display: block;
		font-size: 22px;
		color: #111111;
		height: 35px;
		width: 35px;
		line-height: 35px;
		text-align: center;
		border: 1px solid #111111;
		border-radius: 2px;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 25px;
	}
	.offcanvas-menu-overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.7);
		content: "";
		z-index: 98;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		visibility: hidden;
	}
	.offcanvas-menu-overlay.active {
		visibility: visible;
	}
	.offcanvas-menu-wrapper {
		position: fixed;
		left: -300px;
		width: 300px;
		height: 100%;
		background: #ffffff;
		padding: 50px 20px 30px 30px;
		display: block;
		z-index: 99;
		overflow-y: auto;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		opacity: 0;
	}
	.offcanvas-menu-wrapper.active {
		opacity: 1;
		left: 0;
	}
	.offcanvas__menu {
		display: none;
	}
	.slicknav_btn {
		display: none;
	}
	.slicknav_menu {
		background: transparent;
		padding: 0;
		margin-bottom: 20px;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 7px 0;
		margin: 0;
		color: #111111;
		font-weight: 600;
	}
	.slicknav_nav .slicknav_arrow {
		color: #111111;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav {
		display: block !important;
	}
	.offcanvas__option {
		text-align: center;
		margin-bottom: 30px;
	}
	.offcanvas__links {
		display: inline-block;
		margin-right: 25px;
	}
	.offcanvas__links a {
		color: #111111;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-right: 16px;
		display: inline-block;
		font-weight: 600;
	}
	.offcanvas__links a:last-child {
		margin-right: 0;
	}
	.offcanvas__top__hover {
		display: inline-block;
		position: relative;
	}
	.offcanvas__top__hover:hover ul {
		top: 24px;
		opacity: 1;
		visibility: visible;
	}
	.offcanvas__top__hover span {
		color: #111111;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 2px;
		display: inline-block;
		cursor: pointer;
		font-weight: 600;
	}
	.offcanvas__top__hover span i {
		font-size: 20px;
		position: relative;
		top: 3px;
		right: 2px;
	}
	.offcanvas__top__hover ul {
		background: #111111;
		display: inline-block;
		padding: 2px 0;
		position: absolute;
		left: 0;
		top: 44px;
		opacity: 0;
		visibility: hidden;
		z-index: 3;
		-webkit-transition: all, 0.3s;
		-o-transition: all, 0.3s;
		transition: all, 0.3s;
	}
	.offcanvas__top__hover ul li {
		list-style: none;
		font-size: 13px;
		color: #ffffff;
		padding: 2px 15px;
		cursor: pointer;
	}
	.offcanvas__nav__option {
		text-align: center;
		margin-bottom: 25px;
	}
	.offcanvas__nav__option a {
		display: inline-block;
		margin-right: 26px;
		position: relative;
	}
	.offcanvas__nav__option a span {
		color: #0d0d0d;
		font-size: 11px;
		position: absolute;
		left: 5px;
		top: 8px;
	}
	.offcanvas__nav__option a:last-child {
		margin-right: 0;
	}
	.offcanvas__nav__option .price {
		font-size: 15px;
		color: #111111;
		font-weight: 700;
		display: inline-block;
		margin-left: -20px;
		position: relative;
		top: 3px;
	}
	.offcanvas__text p {
		color: #111111;
		margin-bottom: 0;
	}
	.header__top {
		display: none;
	}
	.header .container {
		position: relative;
	}
	.header__menu {
		display: none;
	}
	.header__nav__option {
		display: none;
	}
	.search-model-form input {
		width: 100%;
		font-size: 24px;
	}
	.hero__slider.owl-carousel .owl-nav button {
		left: 15px;
		top: 80%;
	}
	.hero__slider.owl-carousel .owl-nav button.owl-next {
		left: 75px;
		right: 0;
	}
	.banner__item.banner__item--middle {
		margin-top: 0;
	}
	.banner__item.banner__item--last {
		margin-top: 0;
	}
	.banner__item {
		margin-bottom: 40px;
	}
	.banner {
		padding-bottom: 60px;
	}
	.banner__item__pic {
		float: none;
	}
	.banner__item__pic img {
		min-width: 100%;
	}
	.banner__item__text {
		max-width: 100%;
		position: relative;
		top: 0;
		padding-top: 22px;
	}
	.filter__controls li {
		margin-right: 15px;
	}
	.categories__text {
		margin-bottom: 40px;
	}
	.categories__hot__deal {
		margin-bottom: 40px;
	}
	.shop__product__option__right {
		text-align: left;
		padding-top: 20px;
	}
	.shop__sidebar {
		padding-right: 0;
		margin-bottom: 40px;
	}
	.testimonial__text {
		padding: 100px 40px 100px;
	}
	.product__details__breadcrumb {
		text-align: left;
	}
	.product__details__pic .nav-tabs {
		width: auto;
		margin-bottom: 40px;
	}
	.product__details__pic .nav-tabs .nav-item {
		margin-bottom: 0;
		margin-right: 10px;
	}
	.product__details__option__size {
		display: block;
		margin-right: 0;
		margin-bottom: 25px;
	}
	.product__details__last__option h5:before {
		width: 440px;
	}
	.product__details__tab .nav-tabs .nav-item {
		margin-bottom: 15px;
	}
	.shopping__cart__table {
		overflow-y: auto;
	}
	.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__pic {
		float: none;
		margin-right: 0;
	}
	.continue__btn {
		text-align: center;
	}
	.continue__btn.update__btn {
		text-align: center;
		margin-top: 20px;
	}
	.cart__discount {
		margin-top: 40px;
	}
	.checkout__order {
		margin-top: 20px;
	}
	.contact__text {
		margin-bottom: 40px;
	}
	.hero__social {
		margin-top: 180px;
	}
}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {
	.cart__total {
		padding: 35px 30px 40px;
	}
	.hero__items {
		height: auto;
		padding-top: 130px;
		padding-bottom: 40px;
	}
	.hero__text h2 {
		font-size: 36px;
		line-height: 48px;
	}
	.hero__social {
		margin-top: 145px;
	}
	.categories__deal__countdown .categories__deal__countdown__timer {
		margin-left: 0;
	}
	.testimonial__text {
		padding: 60px 40px 60px;
	}
	.product__details__pic .nav-tabs .nav-item .nav-link .product__thumb__pic {
		width: 100%;
	}
	.product__details__pic .nav-tabs .nav-item {
		margin-bottom: 10px;
		width: calc(33.33% - 10px);
	}
	.product__details__last__option h5:before {
		width: 280px;
	}
	.product__details__cart__option .quantity {
		margin-right: 0;
		margin-bottom: 15px;
	}
	.product__details__last__option h5 span {
		font-size: 16px;
	}
	.categories__text h2 {
		font-size: 30px;
		line-height: 55px;
	}
	.categories__text:before {
		height: 250px;
	}
}