
/*---------------------
  Product
-----------------------*/

.product {
    padding-top: 0;
    padding-bottom: 60px;
}

.filter__controls {
    text-align: center;
    margin-bottom: 45px;
}

.filter__controls li {
    color: #b7b7b7;
    font-size: 24px;
    font-weight: 700;
    list-style: none;
    display: inline-block;
    margin-right: 88px;
    cursor: pointer;
}

.filter__controls li:last-child {
    margin-right: 0;
}

.filter__controls li.active {
    color: #111111;
}

.product__item {
    overflow: hidden;
    margin-bottom: 40px;
}

.product__item.sale .product__item__pic .label {
    color: #ffffff;
    background: #111111;
}

.product__item.sale .product__item__text .rating i {
    color: #f7941d;
}

.product__item.sale .product__item__text .rating i:nth-last-child(1) {
    color: #b7b7b7;
}

.product__item:hover .product__item__pic .product__hover {
    right: 20px;
    opacity: 1;
}

.product__item:hover .product__item__text a {
    top: 22px;
    opacity: 1;
    visibility: visible;
}

.product__item:hover .product__item__text h6 {
    opacity: 0;
}

.product__item:hover .product__item__text .product__color__select {
    opacity: 1;
}

.product__item__pic {
    height: 260px;
    position: relative;
    background-position: center center;
}

.product__item__pic .label {
    color: #111111;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 15px 2px;
    background: #ffffff;
    position: absolute;
    left: 0;
    top: 20px;
}

.product__item__pic .product__hover {
    position: absolute;
    right: -200px;
    top: 20px;
    -webkit-transition: all, 0.8s;
    -o-transition: all, 0.8s;
    transition: all, 0.8s;
}

.product__item__pic .product__hover li {
    list-style: none;
    margin-bottom: 10px;
    position: relative;
}

.product__item__pic .product__hover li:hover span {
    opacity: 1;
    visibility: visible;
}

.product__item__pic .product__hover li span {
    color: #ffffff;
    background: #111111;
    display: inline-block;
    padding: 4px 10px;
    font-size: 12px;
    position: absolute;
    left: -78px;
    top: 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.product__item__pic .product__hover li span:after {
    position: absolute;
    right: -2px;
    top: 5px;
    height: 15px;
    width: 15px;
    background: #111111;
    content: "";
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
}

.product__item__pic .product__hover li img {
    background: #ffffff;
    padding: 10px;
    display: inline-block;
}

.product__item__text {
    padding-top: 25px;
    position: relative;
}

.product__item__text a {
    font-size: 15px;
    color: #e53637;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.product__item__text h6 {
    color: #111111;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.product__item__text .rating {
    margin-bottom: 6px;
}

.product__item__text .rating i {
    font-size: 14px;
    color: #b7b7b7;
    margin-right: -5px;
}

.product__item__text h5 {
    color: #0d0d0d;
    font-weight: 700;
}

.product__item__text .product__color__select {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.product__item__text .product__color__select label {
    display: inline-block;
    height: 12px;
    width: 12px;
    background: #5e64d1;
    border-radius: 50%;
    margin-bottom: 0;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
}

.product__item__text .product__color__select label.black {
    background: #404a47;
}

.product__item__text .product__color__select label.grey {
    background: #d5a667;
}

.product__item__text .product__color__select label.active:after {
    opacity: 1;
}

.product__item__text .product__color__select label:after {
    position: absolute;
    left: -3px;
    top: -3px;
    height: 18px;
    width: 18px;
    border: 1px solid #b9b9b9;
    content: "";
    border-radius: 50%;
    opacity: 0;
}

.product__item__text .product__color__select label input {
    position: absolute;
    visibility: hidden;
}