#column-option {
    position: absolute;
    min-width: 140px;
    list-style: none;
    right: 40px;
    top: 0;
    z-index: 10000;
}

#column-option > li:hover {
    background: var(--gray-dark);
    color: white;
}

#column-option > li:hover a {
    color: white !important;
}